@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav.navbar {
    width: auto;
    height: 45px;
    /* padding: 10px 20px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
    position: fixed;
    width: calc(100% - 30px);
    background-color: #fff;
    z-index: 1;
}

nav.navbar .brand {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
}

nav.navbar .brand .logo path {
    fill: #E60023;
}

nav.navbar .brand .logo-name {
    color: #CC0000;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav.navbar .nav-controls {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
}

nav.navbar .nav-controls .nav-links {
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    margin-right: 26px;
}

nav.navbar .nav-controls .nav-links .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

nav.navbar .nav-controls .nav-links .nav-link:hover {
    text-decoration: underline;
}

nav.navbar .nav-controls .nav-buttons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

nav.navbar .nav-controls .nav-buttons .nav-button {
    background-color: #EFEFEF;
    padding: 5px 10px;
    border-radius: 24px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    min-width: 52px;
    min-height: 40px;
    box-sizing: border-box;
}

nav.navbar .nav-controls .nav-buttons .login {
    background-color: #E60023;
    color: #fff;
    padding: 7px;
}

nav.navbar .nav-controls .nav-buttons .signup {
    padding: 7px;
}

.container {
    max-width: 1500px;
    /* margin: 0 auto; */
}

.container-fluid {
    max-width: 100%;
}

section {
    height: 100vh;
}

section.images {
    justify-content: center;
    align-items: center;
    display: flex;
}

section.images {
    /* padding-top: 60px; */
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

section.images .images-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFD92;
    text-align: center;

    font-size: 24px;
    font-weight: 500;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.images .images-footer::after {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    height: 200px;
    width: 100%;
    /* background-color: rgba(255,255,255,0.7); */
    background: linear-gradient(to top, #FFF, #0000);
}

section.hero {
    background-color: #FFE2EB;
}

section.search-ideas {
    background-color: #FFFD92;
   
}

section .container-fluid .search {
    background-color: #FFFD92;
    display: flex;
    flex-direction: row;
}

section.save-ideas {
    background-color: #DAFFF6;
}

section.images .images-title {
    font-size: 60px;
    font-weight: 500;
    padding-top: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

section.images .images-title .main {
    color: #333;
}

section.images .images-title .subtitle {
    position: relative;
}

section.images .images-title .subtitle .images-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%);
}

section.images .images-title .subtitle .images-subtitle .text {
    white-space: nowrap;
    transition-duration: 1s;
}

section.images .images-title .subtitle .images-subtitle .t1 {
    color: #C28B00;
}

section.images .images-title .subtitle .images-subtitle .t2 {
    color: #0076D3;
}

section.images .images-title .subtitle .images-subtitle .t3 {
    color: #518C7B;
}

section.images .images-title .subtitle .images-subtitle .t4 {
    color: #507A57;
}

section.images .images-title .carousel-dots {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 90px auto;
}

section.images .images-title .carousel-dots .dot {
    background: #aaa;
    display: inline-block;
    /* padding: 5px; */
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin: 6px;
    outline: none;
    border-style: none;
}

section.images .carousel-slides {
    width: 100%;
    margin-top: -160px;

}

section.images .carousel-slides .carousel-slide {
    width: 100%;
}

section.images .carousel-slides .carousel-slide .columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

section.images .carousel-slides .carousel-slide .columns .column {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.images .carousel-slides .carousel-slide .columns .column img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    object-fit: cover;
}

.carousel-slide .column:nth-child(1) {
    margin-top: 0;
    transition-delay: 0s;
}

.carousel-slide .column:nth-child(2) {
    margin-top: 160px;
    transition-delay: 0.2s;
}

.carousel-slide .column:nth-child(3) {
    margin-top: 240px;
    transition-delay: 0.4s;
}

.carousel-slide .column:nth-child(4) {
    margin-top: 320px;
    transition-delay: 0.6s;
}

.carousel-slide .column:nth-child(5) {
    margin-top: 240px;
    transition-delay: 0.8s;
}

.carousel-slide .column:nth-child(6) {
    margin-top: 160px;
    transition-delay: 1s;
}

.carousel-slide .column:nth-child(7) {
    margin-top: 0;
    transition-delay: 1.2s;
}

section.search-ideas .search {
    display: flex;
    flex-direction: row;
}

section.search-ideas .search .search-image {
    float: left;
    width: 50%;
    left: 50px;
    /* position: absolute; */
}

section.search-ideas .search .search-image .image1 img{
    position: absolute;
    width: 178px;
    height: 218px;
    left: 370px;
}

section.search-ideas .search .search-image .image2 img{
    position: absolute;
    width: 204px;
    height: 285;
    top: 800px;
    left: 10px;
}

section.search-ideas .search .search-image .image3 img{
    position: absolute;
    width: 164px;
    height: 258;
    left: 400px;
    top: 1000px;
}

section.search-ideas .search .search-image .image4 img{
    position: absolute;
    width: 298px;
    height: 456;
    left: 160px;
    top: 740px;
}

section.search-ideas .search .search-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C31952;
    padding-top: 180px;
    padding-left: 50px;
}

section.search-ideas .search .search-text .main {
    font-size: 60px;
    font-weight: 700;
}

section.search-ideas .search .search-text .body-text {
    font-size: 24px;
    max-width: 400px;
    text-align: center;
}

section.search-ideas .search .search-text .explore-button {
    min-height: 30px;
    min-width: 70px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #C31952;
    color: #FFFD92;
    border-radius: 50px;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 7px;
}